/* Scss Document */
$mainBgColor: #000;

body {
	background-color:$mainBgColor;
}

#work
{
	background-color:$mainBgColor;
}

#services
{
	background-color:$mainBgColor;
}

#about
{
	background-color:$mainBgColor;
}

#contact
{
	background-color:$mainBgColor;
}