/* Scss Document */
/* line 4, ../sass/main.scss */
body {
  background-color: black; }

/* line 9, ../sass/main.scss */
#work {
  background-color: black; }

/* line 14, ../sass/main.scss */
#services {
  background-color: black; }

/* line 19, ../sass/main.scss */
#about {
  background-color: black; }

/* line 24, ../sass/main.scss */
#contact {
  background-color: black; }
